[/]
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
appicon-margin=8
appicon-padding=4
available-monitors=[0]
click-action='TOGGLE-CYCLE'
dot-position='BOTTOM'
dot-style-focused='DOTS'
dot-style-unfocused='DOTS'
hot-keys=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=true
intellihide-behaviour='MAXIMIZED_WINDOWS'
intellihide-hide-from-windows=false
intellihide-use-pressure=false
isolate-monitors=true
leftbox-padding=-1
middle-click-action='MINIMIZE'
overview-click-to-exit=true
panel-anchors='{"0":"MIDDLE"}'
panel-element-positions='{"0":[{"element":"showAppsButton","visible":false,"position":"stackedTL"},{"element":"activitiesButton","visible":true,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"centerMonitor"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{"0":100}'
panel-positions='{"0":"BOTTOM"}'
panel-sizes='{"0":40}'
preview-use-custom-opacity=false
primary-monitor=0
shift-click-action='LAUNCH'
shift-middle-click-action='LAUNCH'
show-apps-icon-file=''
show-window-previews=true
show-window-previews-timeout=325
status-icon-padding=-1
tray-padding=-1
window-preview-title-position='TOP'
