[/]
animate-appicon-hover-animation-extent={'RIPPLE': 4, 'PLANK': 4, 'SIMPLE': 1}
appicon-margin=8
appicon-padding=4
available-monitors=[0]
click-action='CYCLE'
dot-position='BOTTOM'
dot-style-focused='DOTS'
dot-style-unfocused='DOTS'
enter-peek-mode-timeout=500
group-apps=true
group-apps-underline-unfocused=false
group-apps-use-fixed-width=false
group-apps-use-launchers=true
gs-primary-monitor=0
hide-overview-on-startup=true
hot-keys=true
hotkeys-overlay-combo='TEMPORARILY'
intellihide=true
intellihide-animation-time=50
intellihide-behaviour='FOCUSED_WINDOWS'
intellihide-close-delay=1000
intellihide-hide-from-windows=true
intellihide-key-toggle=['<Super>w']
intellihide-key-toggle-text='<Super>w'
intellihide-only-secondary=false
intellihide-use-pressure=false
isolate-monitors=false
leave-timeout=100
leftbox-padding=-1
middle-click-action='TOGGLE-SHOWPREVIEW'
overview-click-to-exit=true
panel-anchors='{"0":"START"}'
panel-element-positions='{"0":[{"element":"activitiesButton","visible":true,"position":"stackedTL"},{"element":"showAppsButton","visible":true,"position":"stackedTL"},{"element":"leftBox","visible":true,"position":"stackedTL"},{"element":"taskbar","visible":true,"position":"centerMonitor"},{"element":"centerBox","visible":true,"position":"stackedBR"},{"element":"rightBox","visible":true,"position":"stackedBR"},{"element":"dateMenu","visible":true,"position":"stackedBR"},{"element":"systemMenu","visible":true,"position":"stackedBR"},{"element":"desktopButton","visible":true,"position":"stackedBR"}]}'
panel-lengths='{"0":100}'
panel-positions='{"0":"BOTTOM"}'
panel-sizes='{"0":48}'
peek-mode=false
peek-mode-opacity=40
preview-custom-opacity=80
preview-middle-click-close=true
preview-use-custom-opacity=false
primary-monitor=-1
shift-click-action='LAUNCH'
shift-middle-click-action='LAUNCH'
shortcut-previews=false
show-apps-icon-file=''
show-favorites=true
show-favorites-all-monitors=true
show-tooltip=true
show-window-previews=false
show-window-previews-timeout=500
status-icon-padding=-1
stockgs-force-hotcorner=false
target-prefs-page=''
trans-panel-opacity=0.40000000000000002
trans-use-custom-bg=false
trans-use-custom-opacity=false
trans-use-dynamic-opacity=false
tray-padding=-1
window-preview-animation-time=260
window-preview-aspect-ratio-x=16
window-preview-aspect-ratio-y=9
window-preview-custom-icon-size=16
window-preview-fixed-x=false
window-preview-fixed-y=true
window-preview-hide-immediate-click=true
window-preview-padding=0
window-preview-show-title=true
window-preview-size=200
window-preview-title-font-color='#dddddd'
window-preview-title-font-size=14
window-preview-title-font-weight='inherit'
window-preview-title-position='TOP'
window-preview-use-custom-icon-size=false
